/*colors*/
$white: #fff;
$black: #000000;
table {
    -webkit-border-vertical-spacing: 0px !important;
}
.btn {
  border-radius: 0px;
}

.form-control {
  border: 0px; 
  border-radius: 0px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;


}
.form-control:focus{
  box-shadow: none;
  padding: 15px;
  margin: 0 0 10px 0;
  border: 0px ;
  background-color: #F5F5F5;
  border-bottom: 1px solid black;

}

.special-forms{
  .form-control {
    color: $black;
    font-size: 40px;
    height: 55px;
    padding: 0px;
    line-height: 0px;
    text-indent: 5px;
    text-transform: uppercase;
    margin: 0;
  }
  .form-control:focus{
    color: $black;
    font-size: 40px;
    height: 55px;
    padding: 0px;
    text-transform: uppercase;
    line-height: 0px;
    text-indent: 5px;
    margin: 0;
  }
  .move-date {
    select {
      margin: 5px;
      margin-top: 20px;
    } 
  }
}
textarea{
    border: 1px solid $black !important;
    resize: vertical;
  }
.comment table{

  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px !important;

  .btn{
    height: 82px;
  }
  textarea{
    margin-top: 10px;
    width: 900px;
  }
  textarea:focus{
    margin-top: 10px;
    width: 900px;
  }
}