.start-something-new {
	background-image: image-url("sea.jpg");
	background-size: 100%;
	background-position: 0px -120px;
}
/*
.tasks {
  display: block;
  position: relative;

}
.tasks::after {
  content: "";
  background-image: image-url("nautical_map.jpg");
  background-size: 100%;
  background-position: 0px -200px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.flip {
  background-position: 0px -420px;
}*/

.image-content {
  background-image: image-url("sea.jpg");
  background-size: 100%;
  background-position: 0px -170px;
}