// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*colors*/
$white: #fff;
$black: #000000;

.new-nav {
  padding-top: 0px;
  height: 73px;
  position: absolute;
  background-color: $white;
  width: 100%;
}

.new-nav {
  h1, h3, i{

    margin-top: 0px;
    margin-bottom: 0px;
    color: $black;
  }
  td {
    padding-right: 10px;
  }
  h3 {
    margin-top: 10px;
  }
  .icon-link a {
    margin-top: 15px;
  }
  table {
    width: 100%;
/*    vertical-align: middle;*/
    height: 100%;
    td {
   /*   vertical-align: middle;*/
    }
  }
  .special-padding {
    padding-right: 20px;
  }
}

.image-content {
  height: 400px;
  width: 100%;
}

.project-content {
  h3 {
    margin-top: 12px;
  }
}
.description {
  p {
    margin-top: 0px;
    margin-bottom: 5px;
    }
}
.tasks{
  border: 1px solid;
  overflow: hidden;
  p {
    text-transform: none;
  }

}
.margin-fix {
  padding-right: 50px;
}

.tasks {
  .fa{
    margin-top: 20px;
    cursor: pointer;
  }
  .fa:hover {
    opacity: 0.5;
  }
}

.status a {
  margin-top: 15px;

}
.status{
  a:hover{
    opacity: 0.5;
  }
}

.icon-hover{
  a:hover{
    opacity: 0.5;
  }
}
.margin {
  padding-right: 15px;
}

.discussion {

}

.progress {
  margin-top: 3px;
  height: 10px;
  border-radius: 2px;
/**/
}
.status-padding{
  margin-top: 12.5px;
  padding-right: 30px;
    a:hover{
    opacity: 0.5;
  }
}
.icon-link, .new-nav{
  .btn {
    margin-bottom: 0;

    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    margin-top: 15px;
    border-radius: 50px;

  }
  .btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn:hover {
    background-color: white;
    opacity: 0.5;
  }
}

.full-width{
  width: 900px;
}
.table-full-width{
  width: 990px;
}
.discussion {

  p {
    margin: 0;
    margin-left: 10px;
  }
  i {
    margin-left: 10px;
    color: #dddddd;
  }
  hr {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  td .special-align {
    vertical-align: top;
  }


}